html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, input, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body { background-color: #fff; color: #333; }

#clear{clear:left;}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h2, h3,h4 {margin: 0; padding: 0; display: inline;}

a { 
	color: #DDD;
	font-size: 12px;
	text-decoration: none; 
}
a:visited { color: #DDD; }
a:hover { color: #AAA; text-decoration: underline; }

ol, ul { list-style: none; margin: 0; padding: 0;}

div.field, div.actions {
  margin-bottom: 10px;
}

fieldset > ul > li {
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
}

fieldset > ul > li > label {
	clear: both;
	float: left;
	width: 150px;
	color: #222;
	font-size: 16px;
	line-height: 27px;
	font-weight: 600;
}

fieldset > ul > li > div, fieldset .options {
	float: left;
	width: 505px;
}

input[type="text"] {
	background-color: #F2F2F2;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-o-border-radius: 4px;
	-ms-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid #CCC;
	font: 14px "ff-kievit-web-1","ff-kievit-web-2","Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 5px 6px 6px;
	width: 175px;
}

input[type="submit"] {
	-webkit-box-shadow: rgba(255, 255, 255, 0.199219) 0px 1px 0px 0px inset, rgba(255, 255, 255, 0.699219) 0px 0px 2px 0px inset;
	background: #4E7D0E -webkit-gradient(linear, 50% 0%, 50% 100%, from(#7DB72F), to(#4E7D0E));
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#7DB72F), to(#4E7D0E));
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, from(#7DB72F), to(#4E7D0E));
	border: 1px solid #0A434B;
	border-bottom-left-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	color: white;
	cursor: pointer;
	display: block;
	font-size: 16px;
	font-weight: bold;
	height: 29px;
	outline: none;
	padding: 0px 15px;
	text-decoration: none;
	text-shadow: rgba(0, 0, 0, 0.4960);
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#content { background: white url("/images/pattern.gif") repeat-x; }

#content a {-webkit-transition: color 0.2s linear; color: #39C; outline: none; text-decoration: none; }
#content a:focus, a:hover {color: #379CFF;}

#container {
	background: transparent url("/images/container_large.png") no-repeat;
	margin: 0 auto;
	position: relative;
	top: -78px;
	width: 1000px;
}

#container > .inner {
	background-color: white;
	width: 960px;
	margin: 2px 3px 0;
	min-height: 888px;
	padding: 28px;
}

#containter > #footer {
	clear: both;
	background-color: transparent;
	color: #888;
}

#container > #footer #footer_wrapper {
	border-top: 1px solid #ECECEC;
	padding: 35px 40px;
	margin: 0 auto;
}

#container > #footer #footer_wrapper ul {
	width: 100%;
}

#container > #footer #footer_wrapper ul li {
	float: left;
	margin-right: 15px;
	font-size: 11px;
}

#container > #footer #footer_wrapper h4 {
	display: block;
	width: 200px;
	height: 20px;
	margin: 40px 0 10px;
}

#container > #footer #footer_wrapper ul li a {
	clear: left;
	font-weight: 200;
	color: #888;
}

#container > #footer p { font-size: 11px; }

#container > #footer #footer_wrapper ul li a:hover, #container > #footer #footer-wrapper ul li a:focus { color: #222; }

#header {
	background-color: #292929;

	height: 178px;
	margin: 0 auto;
	min-width: 700px;
	width: 100%;
}

.header_wrapper {
	margin: 0 auto;
	padding: 10px 0px;
	width: 1000px;
}

.wrapper {
	margin: 0px auto;
	overflow: hidden;
	padding: 0px 20px;
}

.logo {float: left;}

ul#nav {
	border: none;
	float: left;
	list-style: none;
	margin: 31px 0px 0px 20px;
	text-align: left;
	width: 430px;
}

ul#nav li {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 30px;
}

ul#nav li a {font-size: 14px;}

#login_user_status {float: right;}

.supplier_filter { 
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 10px;
}

ul.search_bar {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}

ul.search_bar li {
	font-size: 15px;
	color: #222;
	line-height: 13px;
	position: relative;
	z-index: 500;
	display: inline;
}

ul.search_bar li.menu { margin: 0 3px; }

div.search a {
	font-size: 26px;
	font-weight: normal;
	color: #39C;
	text-decoration: none;
	border-bottom: 3px solid #39C;
}

#listings {
	border-top: 1px solid #E5E5E5;
	margin-top: 28px;
}

#listings li {
	border-bottom: 2px solid #E5E5E5;
}

#listings li > a {
	display: block;
	overflow: hidden;
	padding: 17px 11px;
	color: #222;
	padding: 16px 13px;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-khtml-transition: all .1s linear;
	transition: all .1s linear;
}

.odd { background: #f5f5f5; }

#listings li > a:hover { background-color: #FFD673;}

#listings li > a > span {
	min-height: 37px;
	display: block;
	position: relative;
}

#listings li .role {
	float: left;
	width: 350px;
	margin-right: 12px;
	position: relative;
	top: -3px;
}

#listings li .type {
	float: left;
	margin-top: 8px;
	width: auto;
	height: 16px;
	font-size: 10px;
	position: static;
	top: auto;
	left: auto;
	text-align: left;
	max-width: none;
	padding-right: 15px;
	white-space: normal;
	overflow: visible;
}

#listings li .role h3 {
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 4px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: static;
	top: auto;
	left: auto;
	width: auto;
}

#listings li .role > span {
	color: #888;
	display: inline;
}

#listings li .role h4 {
	font-weight: 600;
	color: #222;
	position: static;
	top: auto;
	left: auto;
	max-width: none;
	white-space: normal;
	overflow: visible;
}

#listings li .location {
	float: left;
	margin-top: 7px;
	width: 145px;
	height: 16px;
	background: url("/img/map-marker-light.png") no-repeat 0 50%;
	padding-left: 16px;
	position: static;
	top: auto;
	left: auto;
	text-align: left;
	max-width: none;
	white-space: normal;
	overflow: visible;
}

#listings li .meta {
	float: right;
	text-align: right;
}

#supplier_header {
	border-bottom: 1px solid #CCC; 
	clear: left; 
	margin-bottom: 25px; 
	padding-bottom: 50px; 
	width: 100%;
}
#supplier_header .name {float: left; width: auto;}
#supplier_header .favorite {
	background-image: url(../images/star.png);
	background-repeat: no-repeat;
	background-position: 14px center; 
	float: right; 
	padding: 5px 5px 5px 35px; 
	width: auto;
}
#supplier_header .share {
	background-image: url(../images/mail.png);
	background-repeat: no-repeat;
	background-position: 14px center; 
	float: right; 
	padding: 5px 5px 5px 35px; 
	width: auto;
}
#supplier_header .print {
	background-image: url(../images/print.png);
	background-repeat: no-repeat;
	background-position: 14px center; 
	float: right; 
	padding: 5px 5px 5px 35px; 
	width: auto;
}
#supplier_header .city_state{color: #CCC;}

#supplier_body .description {
	float: left;
	min-width: 300px;
	width: 550px;
}

#supplier_body .contact_info {
	float: right;
	padding: 20px;
	margin-bottom: 10px;
	background-color: #222;
	text-align: center;
	color: #999;
	font-size: 12px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: auto;
}

#supplier_body .contact_info h2 {
	color: #F7EAAC;
	display: block;
	font-size: 16px;
	letter-spacing: normal;
	margin: 0 0 10px 0;
	padding-bottom: 10px;
}

#supplier_body .contact_info h3 {
	color: #999;
	display: block;
	font-size: 18px;
	letter-spacing: normal;
	margin: 0 0 12px 0;
	padding: 0;
}

#supplier_body .contact_info h3 a { font-size: 18px; }

#supplier_body .image {
	background-color: #E8E8E8;
	padding: 10px 0 5px 0;
	text-align: center;
	margin: 30px 0;
	clear: both;
}

#specialty_form {
	border-bottom: 1px solid #DDD;
	margin-bottom: 15px;
	width: 100%;
}

#new_specialty #specialty_submit {display: inline;}

#specialty_form #new_specialty {
	float: left;
	width: 600px;
}

#specialty_form #new_specialty input[type="text"] { width: 300px; }