body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
  margin: 0;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

h3,h4 {margin: 0; padding: 0; display: inline;}

a { 
	color: #DDD;
	font-size: 12px;
	text-decoration: none; 
}
a:visited { color: #DDD; }
a:hover { color: #AAA; text-decoration: underline; }

ol, ul { list-style: none; margin: 0; padding: 0;}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#content { background: white url("/images/pattern.gif") repeat-x; }

#container {
	background: transparent url("/images/container_large.png") no-repeat;
	margin: 0 auto;
	position: relative;
	top: -78px;
	width: 1000px;
}

#container > .inner {
	background-color: white;
	width: 960px;
	margin: 2px 3px 0;
	min-height: 888px;
	padding: 28px;
}

#header {
	background-color: #292929;

	height: 178px;
	margin: 0 auto;
	min-width: 700px;
	width: 100%;
}

.header_wrapper {
	margin: 0 auto;
	padding: 10px 0px;
	width: 1000px;
}

.wrapper {
	margin: 0px auto;
	overflow: hidden;
	padding: 0px 20px;
}

.logo {float: left;}

ul#nav {
	border: none;
	float: left;
	list-style: none;
	margin: 25px 0px 0px 20px;
	text-align: left;
	width: 400px;
}

ul#nav li {
	float: left;
	list-style: none;
	margin: 0px 0px 0px 30px;
}

ul#nav li a {font-size: 16px;}

#login_user_status {float: right;}

.supplier_filter { 
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 10px;
}

ul.search_bar {
	list-style: none;
	margin: 20px 0 0 0;
	padding: 0;
}

ul.search_bar li {
	font-size: 15px;
	color: #222;
	line-height: 13px;
	position: relative;
	z-index: 500;
	display: inline;
}

ul.search_bar li.menu { margin: 0 3px; }

div.search a {
	font-size: 26px;
	font-weight: normal;
	color: #39C;
	text-decoration: none;
	border-bottom: 3px solid #39C;
}

#listings {
	border-top: 1px solid #E5E5E5;
	margin-top: 28px;
}

#listings li {
	border-bottom: 1px solid #E5E5E5;
}

#listings li > a {
	display: block;
	overflow: hidden;
	padding: 17px 11px;
	color: #222;
	padding: 16px 13px;
	-moz-transition: all .1s linear;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	-ms-transition: all .1s linear;
	-khtml-transition: all .1s linear;
	transition: all .1s linear;
}

#listings li > a:hover { background-color: #FFD673;}

#listings li > a > span {
	min-height: 37px;
	display: block;
	position: relative;
}

#listings li .role {
	float: left;
	width: 350px;
	margin-right: 12px;
	position: relative;
	top: -3px;
}

#listings li .role h3 {
	display: block;
	font-size: 16px;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 4px;
	height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	position: static;
	top: auto;
	left: auto;
	width: auto;
}

#listings li .role > span {
	padding-left: .5em;
	color: #888;
	display: inline;
}

#listings li .role h4 {
	font-weight: 600;
	color: #222;
	position: static;
	top: auto;
	left: auto;
	max-width: none;
	white-space: normal;
	overflow: visible;
}

#listings li .location {
	float: left;
	margin-top: 7px;
	width: 145px;
	height: 16px;
	background: url("/img/map-marker-light.png") no-repeat 0 50%;
	padding-left: 16px;
	position: static;
	top: auto;
	left: auto;
	text-align: left;
	max-width: none;
	white-space: normal;
	overflow: visible;
}

#listings li .meta {
	float: right;
	text-align: right;
}