<% col_size = specialties.size/3 %>
<% specialties.in_groups_of(col_size) do |group| %>
  <div id='multilist'>
    <ul id="specialties">
    <% group.each do |specialty| %>
      	<li id="specialty">
			<% if specialty %>
				<%= specialty.name %> 
				<% if can? :create, @specialty %>
					(<%= link_to 'edit', edit_specialty_path(specialty) %>)
				<% end %>
			<% end %>
		</li>
    <% end %>
    </ul>
  </div>
<% end %>