<div id="specialty_form">
	<fieldset>
		<ul>
			<li>
				<label for="position">New Specialty:</label>
				<div><%= render 'form' %></div>
			</li>
		</ul>
	</fieldset>
	<div id="clear"></div>
</div>


<h1>Listing specialties</h1>

<table id="specialties">
	<%= render :partial=>"specialties", :object=>@specialties %>
</table>