<div id="about"><h2>Depot Alternative helps you find local construction suppliers for your next big project.</div>
<div id="clear"></div>
<div class="heading">
	<%= image_tag "map_big.png", :class=>"about_map_icon"%>
	<h3>Find a local supplier</h3>
	<p>Find by city, state or supplier type.  Check out pictures of their work or products.  Save to favorites or share with friends.</p>
	<p><%= link_to 'Find a supplier', root_path %></p>
</div>

<div class="heading">
	<%= image_tag "phone_big.png", :class=>"about_map_icon"%>
	<h3>Suppliers, join the club!</h3>
	<p>Add your store to the directory. Create a profile and upload images.  Attract more customers and build your business. </p>
	<%= link_to 'Create your listing', new_supplier_path, :class=>"button" %>
</div>